.edition-notice > * {
   font-size: smaller;
}

p {
   margin: 0em;
}

.first-line {
   margin-top: 1.0em;
}

img {
   vertical-align: top;
   float: left;
   margin-right: 0.5em;
}

.printing-history {
   /* The Sony PRS-505 isn't respecting small-caps. Together with using actual caps in the HTML, this style change is an ugly simulation.
   font-variant: small-caps; */
   font-size: 70%;
}

.edition {
   margin-left: 2em;
   text-indent: -2em;
}

.title {
   text-decoration: underline;
}
