.edition-notice > * {
   font-size: smaller;
}

p {
   margin: 0em;
}

.first-line {
   margin-top: 1.0em;
}

img {
   vertical-align: top;
   float: left;
   margin-right: 0.5em;
}

.printing-history {
   font-variant: small-caps;
}

.edition {
   margin-left: 2em;
   text-indent: -2em;
}

.title {
   text-decoration: underline;
}
